th {
    background-color: #04AA6D;
    color: white;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

table {
    width: 15%;
}

th {
    height: 70px;
}

tr:hover {
    background-color: coral;

}